# EXERCISE ONE

In [2]:
empty = []

In [12]:
five_empty = [1, 2, 'abdul', 'man', 10]

In [13]:
print(len(five_empty))

5

In [14]:
print(five_empty[0])

1

In [15]:
print(five_empty[2])

abdul

In [17]:
print(five_empty[-1])

10

In [20]:
mixed_data_types = ['abduljalal', 26, 1.74, 'single', 'No, 98, rikkos']

In [21]:
 it_companies = ['facebook', 'google', 'apple', 'amazon', 'microsoft', 'IBM', 'oracle']

In [22]:
print(mixed_data_types)

['abduljalal', 26, 1.74, 'single', 'No, 98, rikkos']

In [23]:
print(it_companies)

['facebook', 'google', 'apple', 'amazon', 'microsoft', 'IBM', 'oracle']

In [24]:
print(len(mixed_data_types ))

5

In [25]:
print(len(it_companies))

7

In [26]:
print(it_companies[0])

facebook

In [27]:
print(it_companies[-1])

oracle

In [28]:
print(len(it_companies)//2)

3

In [29]:
print(len(mixed_data_types)//2)

2

In [30]:
print(mixed_data_types[-1])

No, 98, rikkos

In [31]:
print(mixed_data_types[0])

abduljalal

In [32]:
it_companies.append('IT company')
print(it_companies)

['facebook', 'google', 'apple', 'amazon', 'microsoft', 'IBM', 'oracle', 'IT company']

In [34]:
it_companies.insert(len(it_companies)//2, 'phone')
print(it_companies)

['facebook', 'google', 'apple', 'amazon', 'phone', 'microsoft', 'IBM', 'oracle', 'IT company']

In [39]:
it_companies[0] = it_companies[0].upper()
print(it_companies)

['FACEBOOK', 'google', 'apple', 'amazon', 'phone', 'microsoft', 'IBM', 'oracle', 'IT company']

In [40]:
it_companies[2] = it_companies[2].upper()
print(it_companies)

['FACEBOOK', 'google', 'APPLE', 'amazon', 'phone', 'microsoft', 'IBM', 'oracle', 'IT company']

In [41]:
it_companies = '#;' .join(it_companies)
print(it_companies)

FACEBOOK#;google#;APPLE#;amazon#;phone#;microsoft#;IBM#;oracle#;IT company

In [42]:
print('amazon' in it_companies)

True

In [53]:
print(it_companies[:3])

FAC

In [61]:
print(it_companies[:-3])

FACEBOOK#;google#;APPLE#;amazon#;phone#;microsoft#;IBM#;oracle#;IT comp

# EXERCISE 2

In [67]:
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
print(f"{ages}")

[19, 22, 19, 24, 20, 25, 26, 24, 25, 24]

In [70]:
min_ages = min(ages)
print(f"min_ages")

min_ages

In [71]:
max_ages = max(ages)
print(f"ages")

ages

In [72]:
ages.append(min_ages)
ages.append(max_ages)
print(f"ages")

ages

In [73]:
ages.sort()
length = len(ages)
if length % 2 == 0:
    median_age = (ages[length // 2 - 1] + ages[length // 2]) / 2
else:
    median_age = ages[length // 2]
print(f"Median Age: {median_age}")

Median Age: 24.0

In [74]:
av_ages = sum(ages)
print(av_ages)

273

In [75]:
len(ages)

12

In [76]:
average_ages = sum(ages) / len(ages)
print(average_ages)

22.75

In [77]:
rainge = max(ages) - min(ages)
print(rainge)

7