# EXERCISE ONE

In [2]:
empty = []

In [12]:
five_empty = [1, 2, 'abdul', 'man', 10]

In [13]:
print(len(five_empty))

5

In [14]:
print(five_empty[0])

1

In [15]:
print(five_empty[2])

abdul

In [17]:
print(five_empty[-1])

10

In [20]:
mixed_data_types = ['abduljalal', 26, 1.74, 'single', 'No, 98, rikkos']

In [21]:
 it_companies = ['facebook', 'google', 'apple', 'amazon', 'microsoft', 'IBM', 'oracle']

In [22]:
print(mixed_data_types)

['abduljalal', 26, 1.74, 'single', 'No, 98, rikkos']

In [23]:
print(it_companies)

['facebook', 'google', 'apple', 'amazon', 'microsoft', 'IBM', 'oracle']

In [24]:
print(len(mixed_data_types ))

5

In [25]:
print(len(it_companies))

7

In [26]:
print(it_companies[0])

facebook

In [27]:
print(it_companies[-1])

oracle

In [28]:
print(len(it_companies)//2)

3

In [29]:
print(len(mixed_data_types)//2)

2

In [30]:
print(mixed_data_types[-1])

No, 98, rikkos

In [31]:
print(mixed_data_types[0])

abduljalal

In [32]:
it_companies.append('IT company')
print(it_companies)

['facebook', 'google', 'apple', 'amazon', 'microsoft', 'IBM', 'oracle', 'IT company']

In [34]:
it_companies.insert(len(it_companies)//2, 'phone')
print(it_companies)

['facebook', 'google', 'apple', 'amazon', 'phone', 'microsoft', 'IBM', 'oracle', 'IT company']

In [39]:
it_companies[0] = it_companies[0].upper()
print(it_companies)

['FACEBOOK', 'google', 'apple', 'amazon', 'phone', 'microsoft', 'IBM', 'oracle', 'IT company']

In [40]:
it_companies[2] = it_companies[2].upper()
print(it_companies)

['FACEBOOK', 'google', 'APPLE', 'amazon', 'phone', 'microsoft', 'IBM', 'oracle', 'IT company']

In [41]:
it_companies = '#;' .join(it_companies)
print(it_companies)

FACEBOOK#;google#;APPLE#;amazon#;phone#;microsoft#;IBM#;oracle#;IT company

In [42]:
print('amazon' in it_companies)

True

In [53]:
print(it_companies[:3])

FAC

In [61]:
print(it_companies[:-3])

FACEBOOK#;google#;APPLE#;amazon#;phone#;microsoft#;IBM#;oracle#;IT comp

# EXERCISE 2

In [67]:
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
print(f"{ages}")

[19, 22, 19, 24, 20, 25, 26, 24, 25, 24]

In [70]:
min_ages = min(ages)
print(f"min_ages")

min_ages

In [71]:
max_ages = max(ages)
print(f"ages")

ages

In [72]:
ages.append(min_ages)
ages.append(max_ages)
print(f"ages")

ages

In [73]:
ages.sort()
length = len(ages)
if length % 2 == 0:
    median_age = (ages[length // 2 - 1] + ages[length // 2]) / 2
else:
    median_age = ages[length // 2]
print(f"Median Age: {median_age}")

Median Age: 24.0

In [74]:
av_ages = sum(ages)
print(av_ages)

273

In [75]:
len(ages)

12

In [76]:
average_ages = sum(ages) / len(ages)
print(average_ages)

22.75

In [77]:
rainge = max(ages) - min(ages)
print(rainge)

7

# TUPLE EXERCISES

# EXERCISE ONE

In [1]:
tuple ()

()

In [3]:
sisters_tuple = ('aisha', 'zulai', 'zainab', 'maryam', 'amina')
brothers_tuple = ('shehu', 'alhaji', 'naim', 'sadeeq', 'usaini', 'bbiya')
print(sisters_tuple)
print(brothers_tuple)

('aisha', 'zulai', 'zainab', 'maryam', 'amina')
('shehu', 'alhaji', 'naim', 'sadeeq', 'usaini', 'bbiya')

In [4]:
sibling = brothers_tuple + sisters_tuple 
print(sibling)

('shehu', 'alhaji', 'naim', 'sadeeq', 'usaini', 'bbiya', 'aisha', 'zulai', 'zainab', 'maryam', 'amina')

In [5]:
print(len(sibling))

11

In [9]:
family = list(sibling)
print(family)

['shehu', 'alhaji', 'naim', 'sadeeq', 'usaini', 'bbiya', 'aisha', 'zulai', 'zainab', 'maryam', 'amina']

In [11]:
family.append('adam')
print(family)

['shehu', 'alhaji', 'naim', 'sadeeq', 'usaini', 'bbiya', 'aisha', 'zulai', 'zainab', 'maryam', 'amina', 'adam']

In [16]:
family.insert(0, 'hussaina')
print(family)

['hussaina', 'shehu', 'alhaji', 'naim', 'sadeeq', 'usaini', 'bbiya', 'aisha', 'zulai', 'zainab', 'maryam', 'amina', 'adam']

In [17]:
family.pop()
family.insert(0, 'adam')
print(family)

['adam', 'hussaina', 'shehu', 'alhaji', 'naim', 'sadeeq', 'usaini', 'bbiya', 'aisha', 'zulai', 'zainab', 'maryam', 'amina']

In [18]:
sibling = list(family)
print(sibling)

['adam', 'hussaina', 'shehu', 'alhaji', 'naim', 'sadeeq', 'usaini', 'bbiya', 'aisha', 'zulai', 'zainab', 'maryam', 'amina']

# EXERCISE 2

In [19]:
print(family)

['adam', 'hussaina', 'shehu', 'alhaji', 'naim', 'sadeeq', 'usaini', 'bbiya', 'aisha', 'zulai', 'zainab', 'maryam', 'amina']

In [23]:
first, second, third,  *rest = family
print(family)

['adam', 'hussaina', 'shehu', 'alhaji', 'naim', 'sadeeq', 'usaini', 'bbiya', 'aisha', 'zulai', 'zainab', 'maryam', 'amina']

In [24]:
print(first)

adam

In [25]:
print(second)
print(third)
print(*rest)

hussaina
shehu
alhaji naim sadeeq usaini bbiya aisha zulai zainab maryam amina

In [27]:
fruits = ("banana", "mango", "pinapple", "orange")
vegetables = ("spinach","egu", "lettuce", "cabbage")
animal_product = ("milk", "fish", "egg", "cheese")

food_stuffs = fruits + vegetables + animal_product
print(food_stuffs)

('banana', 'mango', 'pinapple', 'orange', 'spinach', 'egu', 'lettuce', 'cabbage', 'milk', 'fish', 'egg', 'cheese')

In [29]:
food_stuffs_it = list(food_stuffs)
print(food_stuffs_it)

['banana', 'mango', 'pinapple', 'orange', 'spinach', 'egu', 'lettuce', 'cabbage', 'milk', 'fish', 'egg', 'cheese']

In [30]:
food_stuffs_middle = len(food_stuffs_it) // 2
print(food_stuffs_middle)

6

In [32]:
first_three = food_stuffs_it[:3]
print("first three:", first_three)

first three: ['banana', 'mango', 'pinapple']

In [33]:
last_three = food_stuffs_it[:-3]
print("last three:", last_three)

last three: ['banana', 'mango', 'pinapple', 'orange', 'spinach', 'egu', 'lettuce', 'cabbage', 'milk']

In [34]:
del (food_stuffs)

In [35]:
print('mango' in food_stuffs)

NameError: name 'food_stuffs' is not defined

In [37]:
nordic_countries = ('Denmark', 'Finland','Iceland', 'Norway', 'Sweden')

print(nordic_countries)

('Denmark', 'Finland', 'Iceland', 'Norway', 'Sweden')

In [41]:
print("Is Estonia a nordic country?", 'estonia' in nordic_countries)

Is Estonia a nordic country? False

In [43]:
print("Is Iceland a nordic country?", 'Iceland' in nordic_countries)

Is Iceland a nordic country? True

# SET EXERCISES

## EXERCISE ONE

In [1]:
# sets
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]

In [2]:
print(len(it_companies))

7

In [12]:
it_companies.add('Twitter')
print(it_companies)

{'Nokia', 'i', 'e', 'N', 'x', 'o', 'IBM', 'I', 'n', 'D', 'Twitter', 'Hp', 'Google', 'l', 'linkdin', 'Amazon', 'Oracle', 'c', 'k', 'Microsoft', 'Apple', 'f', 'y', 't', 'Del', 'Samsung', 'M', 'a', 'Infinix', 'Facebook', 's'}

In [10]:
it_companies.add('linkdin')
print(it_companies)

{'Nokia', 'i', 'e', 'N', 'x', 'o', 'IBM', 'I', 'n', 'D', 'Twitter', 'Hp', 'Google', 'l', 'linkdin', 'Amazon', 'Oracle', 'c', 'k', 'Microsoft', 'Apple', 'f', 'y', 't', 'Del', 'Samsung', 'M', 'a', 'Infinix', 'Facebook', 's'}

In [13]:
it_companies.remove('Facebook')
print(it_companies)

{'Nokia', 'i', 'e', 'N', 'x', 'o', 'IBM', 'I', 'n', 'D', 'Twitter', 'Hp', 'Google', 'l', 'linkdin', 'Amazon', 'Oracle', 'c', 'k', 'Microsoft', 'Apple', 'f', 'y', 't', 'Del', 'Samsung', 'M', 'a', 'Infinix', 's'}

In [15]:
it_companies.discard('Nokia')
print(it_companies)

{'i', 'e', 'N', 'x', 'o', 'IBM', 'I', 'n', 'D', 'Twitter', 'Hp', 'Google', 'l', 'linkdin', 'Amazon', 'Oracle', 'c', 'k', 'Microsoft', 'Apple', 'f', 'y', 't', 'Del', 'Samsung', 'M', 'a', 'Infinix', 's'}

# EXERCISE TWO

In [16]:
AB = A.union(B)
print(AB)

{19, 20, 22, 24, 25, 26, 27, 28}

In [17]:
print(A.union(B))

{19, 20, 22, 24, 25, 26, 27, 28}

In [18]:
A.intersection(B)

{19, 20, 22, 24, 25, 26}

In [20]:
A.isdisjoint(B)

False

In [25]:
BA = B.union(A)
print(BA)

{19, 20, 22, 24, 25, 26, 27, 28}

In [27]:
C = A.difference(B)
print(C)

set()

In [28]:
del C

# Exercise three

In [29]:
ages = set(age)
print(ages)

{19, 22, 24, 25, 26}

In [30]:
len(ages)

5

In [31]:
len(age)

8