# LOOPS EXERCISES

## EXERCISE ONE

In [21]:

for i in range(11):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [15]:
n = 0
while n <= 10:
    print(n)
    n += 1

0
1
2
3
4
5
6
7
8
9
10

In [20]:
for i in range(10, -1, -1):
    print(i)

10
9
8
7
6
5
4
3
2
1
0

In [22]:
n = 10
while n >= 1:
    print(n)
    n -= 1

10
9
8
7
6
5
4
3
2
1

In [26]:
for hash in range(8):
    print('#'*8)

########
########
########
########
########
########
########
########

In [31]:
for i in range(11):
    print('{i} * {i} = {i * i}')

{i} * {i} = {i * i}
{i} * {i} = {i * i}
{i} * {i} = {i * i}
{i} * {i} = {i * i}
{i} * {i} = {i * i}
{i} * {i} = {i * i}
{i} * {i} = {i * i}
{i} * {i} = {i * i}
{i} * {i} = {i * i}
{i} * {i} = {i * i}
{i} * {i} = {i * i}

In [32]:
libraries = ['Python', 'Numpy','Pandas','Django', 'Flask']
for library in libraries:
    print(library)

Python
Numpy
Pandas
Django
Flask

In [36]:
for i in range(0, 100, 2):
    print(i)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98

In [41]:
for i in range(1, 100, 2): 
    print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

## EXERCISE TWO

In [51]:
sum = 0
for i in range(100):
    sum += i
    print(sum)

0
1
3
6
10
15
21
28
36
45
55
66
78
91
105
120
136
153
171
190
210
231
253
276
300
325
351
378
406
435
465
496
528
561
595
630
666
703
741
780
820
861
903
946
990
1035
1081
1128
1176
1225
1275
1326
1378
1431
1485
1540
1596
1653
1711
1770
1830
1891
1953
2016
2080
2145
2211
2278
2346
2415
2485
2556
2628
2701
2775
2850
2926
3003
3081
3160
3240
3321
3403
3486
3570
3655
3741
3828
3916
4005
4095
4186
4278
4371
4465
4560
4656
4753
4851
4950

In [64]:
sum_even = 0
sum_odd = 0
for i in range(100):
    if i % 2 ==0:
        sum_even += i
    else:
         sum_odd += i
   
    
    print("the sum of all even is", sum_even )
    print("the sum of all odd is", sum_odd)

the sum of all even is 0
the sum of all odd is 0
the sum of all even is 0
the sum of all odd is 1
the sum of all even is 2
the sum of all odd is 1
the sum of all even is 2
the sum of all odd is 4
the sum of all even is 6
the sum of all odd is 4
the sum of all even is 6
the sum of all odd is 9
the sum of all even is 12
the sum of all odd is 9
the sum of all even is 12
the sum of all odd is 16
the sum of all even is 20
the sum of all odd is 16
the sum of all even is 20
the sum of all odd is 25
the sum of all even is 30
the sum of all odd is 25
the sum of all even is 30
the sum of all odd is 36
the sum of all even is 42
the sum of all odd is 36
the sum of all even is 42
the sum of all odd is 49
the sum of all even is 56
the sum of all odd is 49
the sum of all even is 56
the sum of all odd is 64
the sum of all even is 72
the sum of all odd is 64
the sum of all even is 72
the sum of all odd is 81
the sum of all even is 90
the sum of all odd is 81
the sum of all even is 90
the sum of all odd is 100
the sum of all even is 110
the sum of all odd is 100
the sum of all even is 110
the sum of all odd is 121
the sum of all even is 132
the sum of all odd is 121
the sum of all even is 132
the sum of all odd is 144
the sum of all even is 156
the sum of all odd is 144
the sum of all even is 156
the sum of all odd is 169
the sum of all even is 182
the sum of all odd is 169
the sum of all even is 182
the sum of all odd is 196
the sum of all even is 210
the sum of all odd is 196
the sum of all even is 210
the sum of all odd is 225
the sum of all even is 240
the sum of all odd is 225
the sum of all even is 240
the sum of all odd is 256
the sum of all even is 272
the sum of all odd is 256
the sum of all even is 272
the sum of all odd is 289
the sum of all even is 306
the sum of all odd is 289
the sum of all even is 306
the sum of all odd is 324
the sum of all even is 342
the sum of all odd is 324
the sum of all even is 342
the sum of all odd is 361
the sum of all even is 380
the sum of all odd is 361
the sum of all even is 380
the sum of all odd is 400
the sum of all even is 420
the sum of all odd is 400
the sum of all even is 420
the sum of all odd is 441
the sum of all even is 462
the sum of all odd is 441
the sum of all even is 462
the sum of all odd is 484
the sum of all even is 506
the sum of all odd is 484
the sum of all even is 506
the sum of all odd is 529
the sum of all even is 552
the sum of all odd is 529
the sum of all even is 552
the sum of all odd is 576
the sum of all even is 600
the sum of all odd is 576
the sum of all even is 600
the sum of all odd is 625
the sum of all even is 650
the sum of all odd is 625
the sum of all even is 650
the sum of all odd is 676
the sum of all even is 702
the sum of all odd is 676
the sum of all even is 702
the sum of all odd is 729
the sum of all even is 756
the sum of all odd is 729
the sum of all even is 756
the sum of all odd is 784
the sum of all even is 812
the sum of all odd is 784
the sum of all even is 812
the sum of all odd is 841
the sum of all even is 870
the sum of all odd is 841
the sum of all even is 870
the sum of all odd is 900
the sum of all even is 930
the sum of all odd is 900
the sum of all even is 930
the sum of all odd is 961
the sum of all even is 992
the sum of all odd is 961
the sum of all even is 992
the sum of all odd is 1024
the sum of all even is 1056
the sum of all odd is 1024
the sum of all even is 1056
the sum of all odd is 1089
the sum of all even is 1122
the sum of all odd is 1089
the sum of all even is 1122
the sum of all odd is 1156
the sum of all even is 1190
the sum of all odd is 1156
the sum of all even is 1190
the sum of all odd is 1225
the sum of all even is 1260
the sum of all odd is 1225
the sum of all even is 1260
the sum of all odd is 1296
the sum of all even is 1332
the sum of all odd is 1296
the sum of all even is 1332
the sum of all odd is 1369
the sum of all even is 1406
the sum of all odd is 1369
the sum of all even is 1406
the sum of all odd is 1444
the sum of all even is 1482
the sum of all odd is 1444
the sum of all even is 1482
the sum of all odd is 1521
the sum of all even is 1560
the sum of all odd is 1521
the sum of all even is 1560
the sum of all odd is 1600
the sum of all even is 1640
the sum of all odd is 1600
the sum of all even is 1640
the sum of all odd is 1681
the sum of all even is 1722
the sum of all odd is 1681
the sum of all even is 1722
the sum of all odd is 1764
the sum of all even is 1806
the sum of all odd is 1764
the sum of all even is 1806
the sum of all odd is 1849
the sum of all even is 1892
the sum of all odd is 1849
the sum of all even is 1892
the sum of all odd is 1936
the sum of all even is 1980
the sum of all odd is 1936
the sum of all even is 1980
the sum of all odd is 2025
the sum of all even is 2070
the sum of all odd is 2025
the sum of all even is 2070
the sum of all odd is 2116
the sum of all even is 2162
the sum of all odd is 2116
the sum of all even is 2162
the sum of all odd is 2209
the sum of all even is 2256
the sum of all odd is 2209
the sum of all even is 2256
the sum of all odd is 2304
the sum of all even is 2352
the sum of all odd is 2304
the sum of all even is 2352
the sum of all odd is 2401
the sum of all even is 2450
the sum of all odd is 2401
the sum of all even is 2450
the sum of all odd is 2500